@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MyInputWithParameters Type="email" Class="form-control" Disabled="@false" PlaceHolder="E-mail"/>

<MyInput type="email" class="form-control" placeholder="E-mail"/>