@rendermode InteractiveServer

@using BlazorApp.AutoInteractivity.Components
@inject RenderModeProvider renderModeProvider

@if (renderModeProvider.IsInteractive(this))
{
  <p role="status">Current count: @currentCount</p>
  <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}
else
{
  <p role="status">Current count: 0</p>
  <button class="btn btn-secondary" disabled="@true">Click me</button>
}

@code {
  private int currentCount = 0;

  private void IncrementCount()
  {
    currentCount++;
  }
}
