@using BlazorApp.PizzaPlace.Shared.Components

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="app.css" />
  <link rel="stylesheet" href="BlazorApp.PizzaPlace.styles.css" />
  <link rel="icon" type="image/png" href="favicon.png" />
  <!-- Add Leaflet Library-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="" />
  <HeadOutlet @rendermode="noPreRenderInteractiveWebAssembly" />
</head>

<body>

  <!-- Loading screen -->
  <div id="loading-screen">
    <div class="spinner"></div>
    <p>Loading...</p>
  </div>

  <Routes @rendermode="noPreRenderInteractiveWebAssembly" />
  <script src="_framework/blazor.web.js"></script>
  <!-- Add Leaflet Library-->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>

  <script>
    window.hideLoadingScreen = function () {
      var loadingScreen = document.getElementById('loading-screen');
      if (loadingScreen) {
        loadingScreen.style.display = 'none';
      }
    };
  </script>


</body>
</html>

@code {

  IComponentRenderMode noPreRenderInteractiveWebAssembly
  = new InteractiveWebAssemblyRenderMode(prerender: false);



}