@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter @rendermode="InteractiveServer" />
@* <Counter @rendermode="InteractiveWebAssembly" />
<Counter @rendermode="InteractiveAuto" /> *@
