@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

@if( RenderModeProvider.IsInteractive(this))
{
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
  
} else
{
  <button class="btn btn-secondary" disabled>Click me</button>

}


<div>@RenderModeProvider.GetRenderMode(this)</div>

@code {
  private int currentCount = 0;

  [Inject]
  public required RenderModeProvider RenderModeProvider { get; set; }

  private void IncrementCount()
  {
    currentCount++;

  }
}
