<h1>Two Way Counter</h1>
<p role="status">Current count: @CurrentCount</p>
<button class="btn btn-primary"
        @onclick="IncrementCount">
  Click me
</button>

@code {

  [Parameter]
  public int CurrentCount { get; set; }

  [Parameter]
  public int Increment { get; set; } = 1;

  [Parameter]
  public EventCallback<int> CurrentCountChanged { get; set; }

  [Parameter]
  public EventCallback<int> IncrementChanged { get; set; }

  private async Task IncrementCount()
  {
    CurrentCount += Increment;
    await CurrentCountChanged.InvokeAsync(CurrentCount);
  }

  public async Task SetIncrement(int newIncrement)
  {
    Increment = newIncrement;
    await IncrementChanged.InvokeAsync(Increment);
  }
}