<ItemsList>
  <Header>
    <h1>Our selection of pizzas</h1>
  </Header>
  <Row>
    @foreach (Pizza pizza in Pizzas)
    {
      <PizzaItem Pizza="@pizza" ButtonText="Add" ButtonAction="@Selected" />
    }
  </Row>
</ItemsList>

@code {
  [Parameter]
  [EditorRequired]
  public Pizza[] Pizzas { get; set; } = [];

  private string SpicinessImage(Spiciness spiciness)
  => $"images/{spiciness.ToString().ToLower()}.png";

  [Parameter]
  public EventCallback<Pizza> Selected { get; set; }
}
